.container {
  padding: 2rem 2rem;
  display: grid;
  grid-template-areas:
    'weather weather quote quote sports sports'
    'news news quote quote sports sports'
    'news news quote quote sports sports'
    'news news quote quote stocks stocks'
    'news news quote quote stocks stocks';
    
}

@media screen and (max-width: 1200px) {
  .container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}